* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", "Comic Sans MS", "Chalkboard SE", "sans-serif";
    background: linear-gradient(270deg, #1bde55, #401791, #12ddfc);
    background-size: 600% 600%;
    max-width: 1200px;
    margin: auto;
    animation: bgMove 5s ease infinite;
    color: #000000;
    padding: 20px;
    padding-top: 90px;


}

@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background: rgba(34, 112, 89, 0.708);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .25);

    z-index: 1000;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.square-logo {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    box-shadow: 0 0 15px rgba(0, 114, 255, .4);
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 20px;
    background: rgb(106, 85, 241);
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

nav:hover {
    background: linear-gradient(to right, #f20894f1, #07148ca2);
    box-shadow: 3px 8px 15px rgba(7, 84, 251, 0.936),
        3px 7px 15px rgba(4, 175, 248, 0.953);
}


nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(19, 99, 149, 0.808);
    border: 2px solid rgba(41, 236, 197, 0.971);
    transition: all 0.3s ease;
}

nav a:hover {
    color: white;
    background: linear-gradient(135deg, #2563EB, #38BDF8);
    transform: translateY(-5px);
    border: none;
    box-shadow:
        0 12px 30px rgba(37, 99, 235, .45),
        0 0 25px rgba(56, 189, 248, .35);
}

header:hover {

    background: rgba(27, 205, 173, 0.94);
    box-shadow:
        0 12px 30px rgba(37, 99, 235, .45),
        0 0 25px rgba(56, 189, 248, .35);


}




.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    color: #051aff;
    border: 2px solid #12ddfc;
    background: #12ddfc;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow:
        4px 12px 30px rgba(13, 88, 251, 0.884),
        10px 20px rgba(10, 172, 242, 0.953);

}

.hero h1:hover {
    color: #0d90fcf7;
    border: 2px solid #10f9edfa;
    background-color: #00ff73;
    box-shadow: 0px 12px 30px rgba(13, 88, 251, 0.884),
        0 10px 20px rgba(10, 172, 242, 0.953);
}

.hero p {
    font-family: Arial, sans-serif;
    color: #f6e658;
    font-size: 1.2rem;
}


.main-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr;
    padding: 10px;
    border-top: 3.5px dashed #c8f905;
    border-bottom: 3px dashed #048cfc;
    background: linear-gradient(to right, #bfe624, #1cf7c7);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(196, 249, 4, 0.926);
}


.grid-section {
    padding: 20px;
}

.projects-col {
    border-right: 2px solid #084cf7;
    text-align: center;
    color: #f80472;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.projects-col:hover {
    color: #02fcb5;
    border-radius: 10px;
    font-size: 17px;
    margin: 4px;
    transform: scale(1.05);
    background: linear-gradient(#fc1ab0, #ff9100);
}

.center-col {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #0505f9;
}

.center-col:hover {
    border-radius: 10px;
    margin: 4px;
    transform: scale(1.05);
    background: linear-gradient(#09fab6, #038cfc);
    border-left: 3px solid #fc02b9;
}

.education-col:hover {
    border-radius: 10px;
    margin: 4px;
    transform: scale(1.05);
    background: linear-gradient(#09fa3d, #befc03);
    border-left: 3px solid #fc02b9;
}

.experience-box {
    border-bottom: 3px dashed #cd02fa;
    flex: 1;
    text-align: center;

}

.experience-box h2 {
    color: #2d04fcda;
    font-weight: bold;

}

.experience-box h3 {
    color: #477ff9;
}

.experience-box p {

    color: #0b6e69;
    font-size: 14px;
    font-weight: bold;
}

.opensource-box {
    flex: 1;
    text-align: center;
}

.opensource-box h2 {
    color: #fc044eda;
    font-weight: bold;

}

.opensource-box p {
    color: #0b6e69;
    font-size: 14px;
    font-weight: bold;
}

.education-col {
    padding-right: 0;
    text-align: center;
}

.education-col h2 {
    color: #fb2306;

}

.education-col p {
    color: #1e5451;
    font-weight: bold;
    font-size: 14px;
}



h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;

}



p {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    margin-bottom: 10px;
}





.btn {
    background: linear-gradient(rgba(10, 172, 242, 0.953), #0dd869);
    padding: 10px;
    border: 3px solid #02fcb5;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #f6f7f8;
    cursor: pointer;
    box-shadow:
        0px 7px 14px rgba(251, 13, 227, 0.884),
        0 4px 10px rgba(12, 62, 188, 0.953);
    text-decoration: none;
    transition: all 0.3 ease;
}

.btn:hover {
    background: linear-gradient(to right, #fe08d1, #def603);
    transform: translatey(5px) scale(1.05);
    color: #021af3;
    font-size: 16px;
}


.project-item {
    border: 2px solid #0b4ad0;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #f8d0fc;
    font-family: Arial, sans-serif;
    box-shadow: 0px 10px 25px rgba(13, 88, 251, 0.884),
        0 10px 10px rgba(10, 172, 242, 0.953);
    font-size: 0.85rem;
    background: linear-gradient(to right, #04fb4e, #8a04fc);
    transition: .3s;
    cursor: pointer;


}

.project-item:hover {
    transform: translateX(8px);
    background: linear-gradient(to left, #6ad527, #0a02fb);
    font-weight: bold;
    color: white;
    font-size: 15px;
}


.courses-title {
    margin-top: 15px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.courses-list {
    margin-top: 10px;
    margin-left: 5px;
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-bottom: 4px;

}

.courses-list li {
    margin-bottom: 8px;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
    color: #051aff;
    transition: all 0.3s ease;
}

.courses-list li:hover {
    cursor: pointer;
    transform: translateX(5px);
    transition: all 0.3s ease;

}





.reviews-section {
    padding: 20px;
    background: linear-gradient(to right, #03f01c, #ece009);
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(196, 249, 4, 0.764);
    transition: all 0.3s ease;
}

.reviews-section:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(223, 8, 147, 0.93);
}

.reviews-section h2 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #1703fcff;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.review-card {
    flex: 1;
    border: 3px solid #e908fe;
    border-radius: 25px;
    box-shadow: 0px 10px 25px rgba(13, 88, 251, 0.884),
        0 10px 10px rgba(10, 172, 242, 0.953);
    transition: all.4s ease;
    padding: 20px;
    background-color: #06f1b6f7;
}

.review-card:hover {
    transform: translateY(-8px);
    border: #0505f9;
    box-shadow: 0px 10px 25px rgb(2, 255, 225),
        0 10px 10px rgb(4, 12, 254);
    color: #051aff;

}

.review-text {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.author-name,
.author-title {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #fd0c03;
    margin-bottom: 0;
}
footer {
    margin-top: 35px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}


@media(max-width:700px) {

    .main-grid {
        grid-template-columns: 1fr;
    }

    .projects-col,
    .center-col {
        border-right: none;
    }

    .cards-container {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        text-align: center;
    }

}