* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", "Comic Sans MS", "Chalkboard SE", "sans-serif";
    background: linear-gradient(270deg, #1bde55, #401791, #12ddfc);
    background-size: 600% 600%;
    max-width: 1200px;
    margin: auto;
    animation: bgMove 5s ease infinite;
    color: #000000;
    padding: 20px;
    padding-top: 90px;


}

@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background: rgba(34, 112, 89, 0.708);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .25);

    z-index: 1000;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.square-logo {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    box-shadow: 0 0 15px rgba(0, 114, 255, .4);
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 20px;
    background: rgb(106, 85, 241);
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(19, 99, 149, 0.808);
    border: 2px solid rgba(41, 236, 197, 0.971);
    transition: all 0.3s ease;
}

nav a:hover {
    color: white;
    background: linear-gradient(135deg, #2563EB, #38BDF8);
    transform: translateY(-5px);
    border: none;
    box-shadow:
        0 12px 30px rgba(37, 99, 235, .45),
        0 0 25px rgba(56, 189, 248, .35);
}

header:hover {

    background: rgba(66, 232, 201, 0.94);
     box-shadow:
        0 12px 30px rgba(37, 99, 235, .45),
        0 0 25px rgba(56, 189, 248, .35);


}




.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    color: #051aff;
    border: 2px solid #12ddfc;
    background: #12ddfc;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow:
        4px 12px 30px rgba(13, 88, 251, 0.884),
        10px 20px rgba(10, 172, 242, 0.953);

}
.hero h1:hover{
    color: #0d90fcf7;
    border: 2px solid #10f9edfa;
    background-color: #00ff73;
    box-shadow: 0px 12px 30px rgba(13, 88, 251, 0.884),
       0 10px 20px rgba(10, 172, 242, 0.953);
}
.hero p {
    font-family: Arial, sans-serif;
    color: #f6e658;
    font-size: 1.2rem;
}


.main-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr;
    padding: 10px;
    border-top: 3.5px dashed #c8f905;
    border-bottom: 3px dashed #048cfc;
    background: linear-gradient(to right, #bfe624, #1cf7c7);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}


.grid-section {
    padding: 20px;
}

.projects-col {
    border-right: 2px solid #084cf7;
    text-align: center;
    color: #f80472;
    font-weight: bold;
}

.projects-col:hover{
    color: #02fcb5;
    border-radius: 10px;
    font-size: 17px;
    margin: 4px;
    transform: scale(1.05);
    background: linear-gradient(#fc1ab0,#ff9100);
}
.center-col {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #000000;
}

.experience-box {
    border-bottom: 2px solid #000000;
    flex: 1;
}

.opensource-box {
    flex: 1;
}

.education-col {
    padding-right: 0;
}


h2 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.05rem;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

p {
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 10px;
}

.link {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #0066cc;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #ff5722;
}


.project-item {
    border: 2px solid #0b4ad0;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #f8d0fc;
    font-family: Arial, sans-serif;
    box-shadow:0px 10px 25px rgba(13, 88, 251, 0.884),
    0 10px 10px rgba(10, 172, 242, 0.953);
    font-size: 0.85rem;
    background:linear-gradient(to right, #04fb4e ,#8a04fc);
    transition: .3s;
    cursor: pointer;

}

.project-item:hover {
    transform: translateX(8px);
    background: linear-gradient(to left, #6ad527 ,#0a02fb);
    font-weight: bold;
    color: white;
    font-size: 15px;
}


.courses-title {
    margin-top: 15px;
    margin-bottom: 5px;
}

.courses-list {
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
    line-height: 1.5;
}


.reviews-section {
    padding-top: 20px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.review-card {
    flex: 1;
    border: 2px solid #000000;
    border-radius: 25px;
    transition: .4s;
    padding: 20px;
    background-color: #ffffff;
}

.review-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, .2);
}

.review-text {
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.author-name,
.author-title {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    color: #999999;
    margin-bottom: 0;
}

@media(max-width:700px) {

    .main-grid {
        grid-template-columns: 1fr;
    }

    .projects-col,
    .center-col {
        border-right: none;
    }

    .cards-container {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        text-align: center;
    }

}